<nav style="color : #FFFFFF" class="navbar navbar-expand-lg">
  <div class="container-fluid container">
    <a class="navbar-brand" style="color: #B3D816" href="{{ url_for('home') }}">
<img src="{{ url_for('static', filename='aaa.png') }}" alt="Logo" width="50" height="50">

      TechWizardry
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a style="color: #9A11BA" class="nav-link" aria-current="{{ url_for('home') }}" href="/">Início</a>
        </li>
        <li class="nav-item">
          <a style="color: #9A11BA" class="nav-link" href="{{ url_for('usuarios') }}">Usuários</a>
        </li>
        <li class="nav-item">
          <a style="color: #9A11BA" class="nav-link" href="{{ url_for('contato') }}">Contato</a>
        </li>
      </ul>
      <ul class="d-flex navbar-nav">
        {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a style="color: #B3D816" class="nav-link" href="{{ url_for('criar_post') }}">Criar Post</a>
          </li>
          <li class="nav-item">
            <a style="color: #B3D816" class="nav-link" href="{{ url_for('perfil') }}">Meu Perfil</a>
          </li>
          <li class="nav-item">
            <a style="color: #B3D816" class="nav-link" href="{{ url_for('sair') }}">Sair</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a style="color: #B3D816" class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a style="color: #B3D816" class="nav-link" href="{{ url_for('login') }}">Criar Conta</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>